<% if current_page?(root_path) %>
    <header class="intro-header" style="background-image:url('/assets/clean_blog/profile.jpg');" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Nayeema Mustaril Lail</h1>
                    <hr class="small">
                    <span class="subheading">Web Developer</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(about_path) %>
    <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">Programing What I do.</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(portfolio_path) %>
    <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                    <h1>Porfolio</h1>
                    <hr class="small">
                    <span class="subheading">Future Goals of Mine</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(project_path) %>
    <header class="intro-header" style="background-image:
            url('/assets/clean_blog/project.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="project-heading">
              <h1>Project</h1>
              <hr class="small">
              <span class="subheading">Some Work Sample of Mine.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<% elsif current_page?(contact_path) %> 
    <header class="intro-header" style="background-image: 
    url('/assets/clean_blog/contact-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <hr class="small">
                    <span class="subheading">Have questions? I have answers (maybe).</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% end %>