<% provide(:title, "About") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>I am Nayeema Mustaril Lail, a Web Developer. I have recently completed my graduation from NSCC
            in Web Programming (IT), in Halifax, Nova Scotia in 13th June, 2016 (2013 - 2016).</p>

            <p>2015 year was very special for me. I got my Canadian Citizensip in this year which was really a big milestone for
            me and my career.</p>

            <p>After moving to Canada, I researched the IT job market and found that if I want to have a good career
            I need to have a Canadian degree. Depending on that research, I found this program in NSCC College, which was
            attracted me very much that I choose to study the program.</p>


            <p>T mostly love to do programming a lot. And also I love to do maths a lot. Also I like to listen to music a lot. </p>

            <p>Travelling, watching movies are my some of the hobbies.</p>

        </div>
    </div>
</div>

<br>

<%= render 'footer' %>
