<% provide(:title, "About") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p>I am Nayeema Mustaril Lail a Web Developer. I am originally from Bangladesh. I have recently completed
            my graduation from NSCC in Web Programming (IT), in Halifax, Nova Scotia. I also got my Canadian Citizensip
            in 2015 which was eally a big milestone for me.
          </p>

          <p>After moving in Canada, I researched the IT job market and found that if I want to have a good career
            I need to have a Canadian degree. Depending on that research, I found this program in NSCC College
            very good and attractive.</p>


          <p>I love to do maths a lot. Also I like to listen to music a lot.</p>

          <p>Travelling, watching movies are my some of the hobbies.</p>

        </div>
    </div>
</div>

<br>

<%= render 'footer' %>
