<% provide(:title, "Portfolio") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Credentials</h2>
                  <p><a href="/assets/BSC_Certificate.pdf" title="Honours Certificate."  target="_blank">To view my Honours Certificate. Please Click here.</a></p>
                  <p><a href="/assets/Higher_Sec_Cert.pdf" title="High School Certificate" target="_blank">To view my High School Certificate. Please Click here.</a></p>
                  <p><a href="/assets/Sec_Cert.pdf" title="Secondary School Certificate" target="_blank">To view my Secondary Certificate. Please Click here.</a></p>
                    <hr/>
                 <h2>Goals</h2>
                 <p>My goal is to become an expert web-developer to create well-designed websites with rich functionality.
                   As a student of Web development programming, my focus would be on getting to know in and out of web
                   programming and web designing. After graduating from NSCC, I will try to get a job as a web developer
                   which will allow me to further expand my skills. During my study at NSCC, I have done many projects
                   which simulated real-world problems and this will hopefully help me with the challenges of my future jobs.</p>
                    <hr/>
                  <h2>Skills</h2>
                    <h4>Programming languages:</h4> <p>C, C++, C#, Java, Visual Basic, HTML, CSS, Java Script, PHP, DOM</p>
                    <h4>Designing Tools:</h4>  <p>DreamWeaver, Flash, PhotoShop, ColdFusion</p>
                    <h4>Databases:</h4> <p>Oracle, MySQL, MS Access, SQLServer</p>
                    <h4>Operating Systems:</h4> <p>Windows 8.1/Windows 7/Vista/Server 2008, UNIX</p>
                    <hr/>
                  <h2>Reflections</h2>
                    <p>I like to do programming a lot specially solving mathematical and analytical problems. But, after getting into IT
                      program, I got introduced to web development which seemed fascinating and now become my favorite topic for study.
                      Now I am working with different kinds of website development and designing to gain top level expertise in this field.
                      It felt so interesting to me that I have decided to take web development as my main concentration for my diploma.</p>
                    <p>Currently in this program I am learning about HTML5, CSS design, Javascript and other web development related topics.
                      Also my previous job experience is helping me getting my skills utilized. In my previous job,
                      I worked with MySQL database with PHP. I also want to mention I worked in different frameworks of website development
                      mainly in Magento framework for building ecommerce sites.</p>
                    <p><a href="/assets/ResumeNayeemaLail.pdf" title="Resume of Nayeema Mustaril" target="_blank">You can click in here to view my resume.</a></p>
            </div>
        </div>
    </div>
</article>

<br>

<%= render 'footer' %>