<% provide(:title, "Portfolio") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Credentials</h2>
                  <p><a href="/assets/BSC_Certificate.pdf" title="Honours Certificate."  target="_blank">To view my Honours Certificate. Please Click here.</a></p>
                  <p><a href="/assets/Higher_Sec_Cert.pdf" title="High School Certificate" target="_blank">To view my High School Certificate. Please Click here.</a></p>
                  <p><a href="/assets/Sec_Cert.pdf" title="Secondary School Certificate" target="_blank">To view my Secondary Certificate. Please Click here.</a></p>
                    <hr/>
                 <h2>Goals</h2>
                 <p>As a Web Developer, my goal is to become an expert in developing well-designed websites with rich functionality.
                   Web Developers construct static websites made of pure HTML/CSS and JavaScript, as well as dynamic web apps
                   like Twitter, Facebook and Google Docs and also with Different CMS like WordPress, Drupal etc.
                   As a Developer i want to be responsible for the design and development of user facing code. Optimize web
                   applications to maximize speed and scalability. Also Create fast, easy-to-use applications, and develop
                   prototypes quickly. Build amazing, immersive user experiences. During my study at NSCC,
                   I have done many projects which simulated real-world problems and this will hopefully help me with the
                   challenges of my future jobs.</p>
                    <hr/>
                  <h2>Skills</h2>
                    <h4>Programming languages:</h4> <p>C, C++, C#, Java, Visual Basic, HTML, CSS, Java Script, PHP, DOM</p>
                    <h4>Designing Tools:</h4>  <p>DreamWeaver, Flash, PhotoShop, ColdFusion, Fieworks</p>
                    <h4>Databases:</h4> <p>Oracle, MySQL, MS Access, SQLServer 2012</p>
                    <h4>Operating Systems:</h4> <p>Windows 10/ Windows 8.1/Windows 7/Vista/Server 2008, UNIX</p>
                    <hr/>
                  <h2>Reflections</h2>
                    <p>I like to do programming a lot specially solving mathematical and analytical problems. But, after getting into IT
                      program, I got introduced to web development which seemed fascinating and now become my favorite topic for study.
                      Now I am working with different kinds of website development and designing to gain top level expertise in this field.
                      It felt so interesting to me that I have decided to take web development as my main concentration for my diploma.</p>
                    <p>During my study at the this program I learned about HTML5, CSS design, Javascript and Ruby on Rails, AngularJS, NodeJS
                      and other web development related topics.</p>
                    <p>In my previous summer job experience is helping me getting my skills utilized. In Atlantic Central,
                      I worked as IT Programmer and Support. During my job time, I designed and develope their website with
                      WordPress in which I designed the concept, migration of website to new platform, commercial launching
                      (www.lsm.ca). I also worked with SharePoint site for internal use for the Department and also ported some old
                      website contents to SharePoint. I also worked for migration of complex financial reporting queries
                      to MS SQL from Access.</p>
                    <p><a href="/assets/ResumeNayeemaMustarilLail.pdf" title="Resume of Nayeema Mustaril" target="_blank">You can click in here to view my resume.</a></p>
            </div>
        </div>
    </div>
</article>

<br>

<%= render 'footer' %>