<% provide(:title, "Project") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Project Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                          <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img src="/assets/clean_blog/Android.jpg" class="img-responsive" alt="" height="400" width="800">
                      </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                          <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img src="/assets/clean_blog/asp-net.jpg" class="img-responsive" alt="" height="400" width="800">
                      </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                          <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img src="/assets/clean_blog/php.jpg" class="img-responsive" alt="" width="800" height="400">
                      </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                          <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img src="/assets/clean_blog/js.png" class="img-responsive" alt="" height="400" heigth="800">
                      </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                          <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img src="/assets/clean_blog/rails.jpg" class="img-responsive" alt="" height="400" width="800">
                      </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                          <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img src="/assets/clean_blog/Web-Design.jpg" class="img-responsive" alt="" >
                      </a>
                    </div>
                  <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                        <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                      </div>
                      <img src="/assets/clean_blog/jquery.jpg" class="img-responsive" alt="" >
                    </a>
                  </div>
                    <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                          <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img src="/assets/clean_blog/cms-wordpress-joomla-drupal.png" class="img-responsive" alt="" >
                      </a>
                    </div>
                  </div>
                </div>
              <!--</section>-->
            </div>

  <!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Math Calculator</h2>
              <img src="/assets/clean_blog/cal.png" class="img-responsive img-centered" alt="">
              <p>This is an Android Calculator which is programmed by android language and using Java Math Class. This calculator is compatible with android devices</p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--end-->

  <!--start-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Shopping Cart with MyTunes</h2>

              <img src="/assets/clean_blog/asp-net.jpg" class="img-responsive img-centered" alt="">
              <p>Still working on it!</p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>REST--ful Rails Application </h2>
              <img src="/assets/clean_blog/INET2005-2016-02-05-12-55-40.png" class="img-responsive img-centered" alt="">
              <p>Implement a RESTful Rails Application for the Employees DB
                <a href="https://github.com/w0270771/projects_for_portfolio/tree/master/Employees">You can view the whole project here</a></p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>REST--ful Rails API with Chinook</h2>

              <img src="/assets/clean_blog/INET2005-2016-05-02-12-09-33.png" class="img-responsive img-centered" alt="">
              <p>Our project included to create a JSON API in Rails that will allow full REST--ful CRUD operations to performe on the Playlist
                with modifying the PlayList Track table of the Chinook sample database with MySQL. Clients will be able to read from the Track
                table to get a JSON list of available tracks. Clients will also be able to register for API use through a profile page and will
                be given a unique API key. Registered clients of the API will be able to create, read, update, and delete their own playlists
                and the tracks that are on them. All the API Functionality can be initially verified via the PostMan application,
                Client was built with Angular JS as a front-end site and the details site is in
                <a href="https://github.com/w0270771/projects_for_portfolio/tree/master/Assignment1RubyClient" target="_blank">here</a>.</p>
              <br/>
              <p><a href="https://github.com/w0270771/projects_for_portfolio/tree/master/ChinookAPI" target="_blank">
                Here is a github link to view the whole project</a>.</p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->
  <!--start-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Javascript Object working with AngularJS</h2>
              <img src="/assets/clean_blog/assignment2.png" class="img-responsive img-centered" alt="">
              <p>Add a JSON file to your application with data for at least three student objects. These students will be read in from the JSON file and stored in an array in a model as soon as the application loads. So, the application will display those students in the “list” on the web page as soon as the page loads.
                Instead of displaying all students from the JSON file and all new ones added in an unordered list, they will display in a table that is nicely formatted with Bootstrap.The form for adding new students will also be nicely formatted with Bootstrap.
                Also added two innovative features searching and deleting single data.
                <a href="https://github.com/INFT4000ITCFALL2015/inft4000-nl/tree/master/Assignment2">Here is the github link to view the full project</a></p>

              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->
  <!--start-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Design a proposed site named Growling Beer Pub</h2>
              <img src="/assets/clean_blog/INET2005-2016-02-05-11-39-09.png" class="img-responsive img-centered" alt="">
              <p>Design a site with the tools and technique learned in the Web design course.
                <a href="https://github.com/w0270771/projects_for_portfolio/tree/master/BeerPub">To view the full project go to this github link.</a></p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->
  <!--start-->
  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Working with Wordpress and Drupal</h2>
              <img src="/assets/clean_blog/INET2005-2016-02-05-11-59-32.png" class="img-responsive img-centered" alt="">
              <img src="img/portfolio/INET2005-2016-02-05-12-04-40.png" class="img-responsive img-centered" alt="">

              <img src="/assets/clean_blog/INET2005-2016-02-05-12-04-54.png" class="img-responsive img-centered" alt="">
              <img src="/assets/clean_blog/INET2005-2016-02-05-12-05-05.png" class="img-responsive img-centered" alt="">
              <p>This is a site developed in Wordpress for one of the class project Acme Adventure Travel Agency. Some of the screen capture in given in here.</p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->


  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>MVC</h2>

              <img src="/assets/clean_blog/Lab7.png" class="img-responsive img-centered" alt="">
              <p>This MVC Lab was assigned to us to learn about how MVC Architecture works in PHP. We needed to get Display, Search, Insert,
                Update, and Delete of Sakila Actors <br/>
                <a href="https://github.com/INET2005ITC2015/inet2005-nl/tree/master/Lab7">Here is a github link to view the whole project</a>.</p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>MVC</h2>
              <img src="/assets/clean_blog/CMS%20in%20Laravel.png" class="img-responsive img-centered" alt="">
              <p>This Final project assigned us to create two web sites in PHP that will serve as a custom Content Management System. Using the administrative back-end site, the basic structure
                (i.e. pages, content areas, articles, & style templates) of a website can be dynamically created and modified by only authorized users with the appropriate permissions.
                The additions and changes to the site’s structure will all be stored in the custom SQLite/MySQL databases that will be created to support the CMS.
                The front-end site will be dynamically displayed based on the structure stored in the CMS database. The front-end site will be viewable by all users, but users with the
                appropriate permissions will be able to log in and make some changes to site content.
                <br/><a href="https://github.com/INET2005ITC2015/inet2005-nl/tree/master/LaravelTest">Here is a github link to view the whole project</a>. </p>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<br>

<%= render 'footer' %>